<div id="content-header">
<img src="/images/HR/show_hr.png" alt="" />
  <h1>Employee Settings</h1>
  <h3>Edit position</h3>
  <div id="app-back-button">
      <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <%= render :partial => 'position_form', :locals => { :button_label => "► Update"} %>


</div>