<!DOCTYPE html>
<html>
<head>

</head>
<body style="border:0; margin: 0;" onload="subst()">
	<div id="footer">	
		<!-- START FOOTER -->
		<div class="container_12">
			<%=image_tag("manzanita_footer.png")%>
			<p>&copy; Copyright 2011 Tu Colegio online  | Powered by <a href="#">Hekima Solutions</a> | <a href="#">Top</a></p>
		</div>
	</div>
</body>
</html>

